<ion-header>
  <ion-toolbar>
    <ion-title>Update Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <form (ngSubmit)="updatePassword()">
      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
      </ion-item>

      <ion-button class="update-btn" expand="full" type="submit">Update Password</ion-button>
    </form>
  </div>
</ion-content>






