ion-header {
    ion-toolbar {
      --ion-background-color: linear-gradient(180deg, #203A43, #2C5364);
      --color: white;
      font-family: 'Arial', sans-serif;
    }
  }
  
  ion-content {
    form {
      ion-item {
        --ion-text-color: royalblue;
  
        ion-label {
          --ion-color: royalblue;
        }
      }  ion-content {
        --background: linear-gradient(180deg, #203A43, #2C5364);
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .container {
        max-width: 400px;
        padding: 20px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      ion-item {
        margin-bottom: 20px;
      }
    
      ion-button {
        --background: #1ABC9C;
        --border-radius: 20px;
        color: #FFFFFF;
        font-weight: bold;
      }
    
      .update-btn {
        --background: none;
        border: 2px solid #FFFFFF;
      }
    
      .update-btn:hover {
        --background: #FFFFFF;
        color: #1ABC9C;
      }
  
      ion-button {
        --ion-background-color: royalblue;
        --ion-color: white;
        margin-top: 20px;
      }
    }
  }
  