*{
    font-size: large;
    margin: 0px;  
}

ion-content{
   
    top:43%;
    left: 50%;
    transform: translate(-50%,-50%);
    --background:white ;
     height:100hv;
}
ion-list{
    margin: 20px;
    background: none;
}
ion-item{
    --background: rgba(black, 0.1);
    border-radius: 10px;
    border-style:3px solid;
    border-color: lightgray;
    margin: 8px;
}
h1{
    text-align: center;
    color: black;
    margin: 20px;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
label{
    margin-bottom: 100px;
}
span{
    color:blue
}
p{
    text-align: center;
}
.btns{
    text-align: center;
    justify-content:space-between;
   
}
ion-button{
    text-align: center; 
    margin-right:10px;
    --ion-border: rgb(12, 12, 13);
}

ion-content{
    --background: linear-gradient(180deg, rgb(123, 114, 114),rgb(158, 59, 59), rgb(180, 180, 42));
  }
  ion-input{
    --background: rgba(black, 0.1);
    font-weight: bold;
    
   
  }
  .sIn{
    --border-color: rgba(blue, 0.3);
    color: white;
  }



  ion-content {
    --background: linear-gradient(180deg, #203A43, #2C5364);
  }

  h1 {
    text-align: center;
    color: #FFFFFF;
    margin: 20px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    background-color:rgba(black, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  ion-list {
    margin: 20px;
  }

  ion-item {
    --background: none;
    border-style: none;
    margin: 5px;
  }

  ion-input {
    --background: none;
    color: #FFFFFF;
    font-weight: bold;
    border-bottom: 1px solid #FFFFFF;
  }

  ion-button {
    --background: #1ABC9C;
    --border-radius: 20px;
    color: #FFFFFF;
    font-weight: bold;
  }

  ion-button.sIn {
    --background: none;
    color: #FFFFFF;
    font-weight: bold;
  }

  ion-button.sIn:hover {
    --background: #FFFFFF;
    color: #1ABC9C;
  }

  .btns {
    text-align: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  span {
    color: #16C2FC;
    cursor: pointer;
  }