<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>Welcome to RIZZ</h1>
    <p>Discover the world of opportunities with R.</p>
    <div class="btns">
      <ion-button class="explore-btn" expand="block" fill="outline" routerLink="/explore">Explore</ion-button>
      <ion-button class="signin-btn" expand="block" fill="outline" routerLink="/update-password">change Password</ion-button>
    </div>
  </div>
</ion-content>


 